@model GYM93.Models.ThanhVien

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh Sửa Thông Tin Thành Viên</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThanhVienId" />
            <input asp-for="NgayThamGia" type="hidden" />
            <div class="form-group">
                <label asp-for="HoVaTenDem" class="control-label"></label>
                <input asp-for="HoVaTenDem" class="form-control" />
                <span asp-validation-for="HoVaTenDem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sđt" class="control-label"></label>
                <input asp-for="Sđt" class="form-control" />
                <span asp-validation-for="Sđt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="gioiTinh">@Html.DisplayNameFor(model => model.GioiTinh)</label>
                <select asp-for="GioiTinh" class="form-control" id="gioiTinh">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BienSoXe" class="control-label"></label>
                <input asp-for="BienSoXe" class="form-control" />
                <span asp-validation-for="BienSoXe" class="text-danger"></span>
            </div>
           
 
      
            <div class="form-group">
                
                <input asp-for="Image" class="form-label" style="display:none" id="fileInput" onchange="previewImage(event)" />
                <button type="button" class="btn btn-primary" onclick="document.getElementById('fileInput').click()">
                    Thay Hình Ảnh Khác
                </button>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success btn-lg" />
            </div>
        </form>
   
    </div>

    <div class="col-md-8">
        <!-- Hiển thị preview, nếu không có ảnh thì mặc định ẩn -->
        <div id="imagePreview" class="image-preview-container" style="margin-top: 10px;">
            <img id="preview" src="@Model.HinhAnhTv" alt="Image preview" style="display:@(string.IsNullOrEmpty(Model.HinhAnhTv) ? "none" : "block")" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Trở Về Danh Sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
