@model IEnumerable<GYM93.Models.ThanhVien>

@{
    ViewData["Title"] = "Thành Viên Trong CLB";
}

<h1>Danh Sách Thành Viên</h1>

<p>
    <a asp-action="Create">Tạo Thành Viên Mới</a>
</p>
<table id="tblData">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTenDem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnhTv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sđt)
            </th>
            <th>
                Thao Tác
            </th>


 
        </tr>
    </thead>
  
</table>
@section Scripts {
    <script src="~/js/thanhvien.js"></script>
}