@model GYM93.Models.HoaDon

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo Hóa Đơn Mới</h1>

<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="CreateVisitor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="ThanhVienId" class="control-label"></label>
                <input id="searchThanhVien" type="text" class="form-control" placeholder="Tìm thành viên..." />
                <input type="hidden" asp-for="ThanhVienId" id="ThanhVienId" value="@ViewData["ThanhVienId"]" />
                <span asp-validation-for="ThanhVienId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SoNgayDangKy" class="control-label">Số Ngày Đăng Ký</label>
                <input id="soNgayDangKy" asp-for="SoNgayDangKy" style="width: auto" class="form-control" type="number" min="1" />
                <span asp-validation-for="SoNgayDangKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <div style="display: flex; align-items: center;">
                    <input id="totalInput" class="form-control" style="width: auto; margin-right: 5px;" />
                    <span>VNĐ</span>
                </div>
                <input id="totalHidden" asp-for="TongTien" type="hidden" />
                <span id="validationMessage" asp-validation-for="TongTien" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Xác Nhận" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-secondary">Trở Về Danh Sách</a>
            </div>
        </form>
    </div>
    <div class="col-md-3" id="displayImage">
    </div>
</div>



@section Scripts {
    <script src="~/js/ordervisitor.js" asp-append-version="true"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
