@model GYM93.Models.HoaDon

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo Hóa Đơn Mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThanhVienId" class="control-label"></label>
                <input id="searchThanhVien" type="text" class="form-control" placeholder="Tìm thành viên..." />
                <input type="hidden" asp-for="ThanhVienId" />
                <span asp-validation-for="ThanhVienId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThanhToan" class="control-label"></label>
                <input asp-for="NgayThanhToan" class="form-control" />
                <span asp-validation-for="NgayThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThangDangKy" class="control-label"></label>
                <input id="thangDangKy" asp-for="ThangDangKy" class="form-control" />
                <span asp-validation-for="ThangDangKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input id="tongTienInput"  class="form-control" />
                <input id="tongTienHidden" asp-for="TongTien" type="hidden" />
                <span id="validationMessage" asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Xác Nhận" class="btn btn-primary" />
            </div>
        
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Về Danh Sách</a>
</div>

@section Scripts {
    <script src="~/js/autocomplete.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
