@using GYM93.Models.ViewModels
@model AppUser

@{
    ViewData["Title"] = "Chỉnh Sửa Tài Khoản Nhân Viên";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Chỉnh Sửa Thông Tin Tài Khoản</h3>
                </div>
                <div class="card-body">
                    <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />

                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">Tên Đăng Nhập</label>
                            <input asp-for="UserName" class="form-control custom-width" readonly />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FullName" class="form-label">Họ Và Tên</label>
                            <input asp-for="FullName" class="form-control custom-width" placeholder="Số điện thoại" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" style="width : 40%" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <div class="mb-3 d-flex align-items-center">
                            <div class="flex-grow-0">
                                <label asp-for="PhoneNumber" class="form-label">Số Điện Thoại</label>
                                <input asp-for="PhoneNumber" class="form-control custom-width" style="width: 270px;" placeholder="Họ và tên" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="ms-3">
                                <input asp-for="Image" type="file" class="form-label" id="fileInput" style="display:none" onchange="previewImage(event)" />
                                <button type="button" class="btn btn-primary" style="margin-left : 162px; margin-top: 32px;" onclick="document.getElementById('fileInput').click()">
                                    Thay Hình Ảnh Khác
                                </button>
                            </div>
                        </div>
                       

                        <!-- Image preview and change image button -->
                        <div class="mb-4 text-center">
                            <!-- Image preview container -->
                            <div id="imagePreview" class="image-preview-container mb-3">
                                <img src="/@Model.HinhAnhTv" id="preview" alt="Hình Ảnh Thành Viên Gym93" class="img-fluid rounded-circle"  />
                            </div>

                          
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Mật Khẩu</label>
                            <input asp-for="Password" class="form-control" style="width : 40%" placeholder="Password" />
               
                        </div>



                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">Lưu Thay Đổi</button>
                            <a href="@Url.Action("EmployeeAccounts")" class="btn btn-secondary btn-block">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <link href="~/template/css/avatar.css" rel="stylesheet" asp-append-version="true" />

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
