@using GYM93.Models.ViewModels
@model LoginViewModel

@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<title>Login 04</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/login/css/style.css" asp-append-version="true">

	<!--Toast Message-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

</head>
<body>

	<section class="ftco-section">
		<partial name="_Notifications" />
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Chào Mừng Đến Với Gym 93</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(/login/images/TT136LHAR1.jpg);">
						</div>
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Đăng Nhập</h3>
								</div>
							
							</div>
							<form action="Login" class="signin-form" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group mb-3">
									<label class="label" for="name">Tên Đăng Nhập</label>
									<input type="text" class="form-control" placeholder="Tên Đăng Nhập" asp-for="UserName" required>
									<span asp-validation-for="UserName" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Mật Khẩu</label>
									<input type="password" class="form-control" placeholder="Mật Khẩu" asp-for="Password" required>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
								</div>
								<div class="form-group d-md-flex">
									<div class=" text-right">
										<a href="/auth/forgotpassword">Forgot Password</a>
									</div>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/login/js/jquery.min.js"></script>
	<script src="/login/js/popper.js"></script>
	<script src="/login/js/bootstrap.min.js"></script>
	<script src="/login/js/main.js"></script>

</body>
</html>

